@CHARSET "UTF-8";body{font-size:12px;font-family:arial;margin:0;padding:0}
a:link,a:visited{text-decoration:none}
a:hover{color:#FF7300;text-decoration:underline}
ul,li,form{margin:0;padding:0}
ul{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
.inline{display:inline}
.none{display:none}
.ov-hi{overflow:hidden}
#search_in_site .bodyContContent{line-height:28px;text-align:left}
#search_in_site .bodyContContent label{display:inline-block}
#search_in_site .bodyContContent .proName{margin-left:8px}
#search_in_site .bodyContContent input{background:url("../images/listbg.gif") no-repeat scroll 0 0
		transparent}
#search_in_site .bodyContContent input{background-position:0 0;border:1px solid #9FA3A4;height:18px;margin:0 0 0 4px;padding:3px 0 0;vertical-align:middle}
#search_in_site .bodyContContent .proNameInput{width:128px}
#search_in_site .bodyContContent .pricelabel{margin-left:16px}
#search_in_site .bodyContContent #priceLowSide,#search_in_site .bodyContContent #priceHighSide{margin-left:8px;width:50px}
#search_in_site .bodyContContent #searchBtnSide{background-position:0 -31px;border:medium none;cursor:pointer;height:26px;margin-left:48px;margin-top:4px;padding:0;text-indent:-9999px;width:69px}
.mainTextColor{color:#000000}
.rightConteWidth{width:715px}
.rightConteWidth{width:740px}
.mainTextColor{color:#000000}
.rightConteWidth{margin:0 auto;text-align:center}
.rightConteWidth{margin:0 auto;text-align:center}
#all_album_column .no-albums{display:none;font-weight:bold;margin:15px}
.mainTextColor{color:#000000}
#all_album_column .albums-list{display:none}
.pro_category{text-align:left}
.pro_category{text-align:left}
.title{font-weight:bold}
.mainTextColor{color:#000000}
ul{list-style:none outside none;margin:0;padding:0}
li.bodyContContentAlbumLi{list-style:none outside none}
li.bodyContContentAlbumLi{background:url("../images/album.png")
		no-repeat scroll 0 0 transparent;height:200px;width:140px}
.fl{float:left}
li.bodyContContentAlbumLi .albumCover{}
li.bodyContContentAlbumLi .albumCover{display:table-cell;height:153px;text-align:center;vertical-align:middle;margin:20px auto 0;width:140px}
.textBox{margin:5px auto 0;text-align:center}
.listNews{}
.listNews dl{overflow:auto;zoom:1;padding:6px 0;margin:0;overflow:hidden;white-space:nowrap}
.listNewsDl{border-bottom:1px dashed}
.listNews dt{float:left;width:58%;font-size:14px;overflow:hidden}
.listNews dd{float:left;width:15%;margin-left:0}
.recruit dl{line-height:25px}
.recruitDl{border-bottom:1px dashed;overflow:auto;zoom:1}
.recruit dt{font-size:14px}
.recruit .title{font-weight:bold;font-size:16px}
.cert ul{overflow:auto;zoom:1;margin:1em 0;text-align:center;padding-bottom:4px}
.cert li{float:left}
.certUl{border-bottom:1px dashed}
.cert .pic{width:33%}
.cert .name{width:33%}
.cert .organize{width:33%}
div.mod-footer{line-height:150%;margin-top:8px;margin:0 auto;padding:0 0 20px;text-align:center;padding:0 0 20px;border:none;border-top:1px dashed #999;width:100%}
.mod-footer p{margin:2px}
.mod-footer a{padding:0 3px\9}
.analysis_tool{position:relative;top:2px}
.go-topbtn{background:url("../images/backtop.gif") no-repeat
		transparent;bottom:20px;_top:expression(documentElement.scrollTop + documentElement.clientHeight-76);cursor:pointer;height:56px;position:fixed;_position:absolute;width:16px}
.pagination{margin:20px 0;line-height:32px;overflow:auto}
.danaiPageDes{margin-left:10px}
.pagination a.danaiPageUp{background:url(../images/pageNum_bg.gif) repeat scroll 0 0
		transparent;color:black;display:inline-block;font-family:微软雅黑;font-size:15px;font-weight:bold;height:32px;line-height:28px;_line-height:32px;padding-left:10px;vertical-align:middle;width:85px;border:none;text-align:center}
.pagination a.danaiPageUp:hover{background-position:0 -32px;text-decoration:none;border:none}
.pagination a.danaiPageDown{background:url(../images/pageNum_bg.gif) repeat scroll 0
		-64px transparent;color:black;display:inline-block;font-family:微软雅黑;font-size:15px;font-weight:bold;height:32px;line-height:28px;_line-height:32px;padding-right:10px;vertical-align:middle;width:85px;border:none;text-align:center}
.pagination a.danaiPageDown:hover{background-position:0 -96px;text-decoration:none;border:none}
a.danaiPageNum{background-color:#FFFFFF;display:inline-block;font-size:16px;font-weight:bold;height:22px;line-height:24px;vertical-align:middle;width:26px;border:1px solid #B1B1B1;color:#000000;text-decoration:none;text-align:center;margin:0 1px}
a.danaiPageNum:hover{border:1px solid #EF7919;color:#000000;text-decoration:none}
.danaiPageCurrent{background:none repeat scroll 0 0 #EF7919;color:#FFFFFF;display:inline-block;font-size:16px;font-weight:bold;height:24px;line-height:24px;vertical-align:middle;width:28px;text-align:center;margin:0 1px}
.outBg{background:#FFFFFF none repeat scroll 0 0}
.outBg{background:transparent url(../images/jz1_outBg.gif) repeat scroll 0 0}
.inBg{width:952px;margin:0 auto;overflow-x:hidden;_overflow:hidden;zoom:1}
.inBg{background:transparent url(../images/jz1_inBg.jpg) repeat scroll 0 0}
a.black{color:#000000}
#company_name{height:90px}
#companyname{float:left;margin-left:5px;margin-top:15px;text-align:left;width:85%}
.chinaname{color:#000000;font-family:楷体_GB2312;font-size:26px;font-style:italic;font-weight:bold}
#companyname .chinaname{overflow:visible}
.pointer{cursor:pointer}
.clr{clear:both}
.headerMenu{width:100%}
.headerMenuBorder{border-color:#CCCCCC;border-style:solid;border-width:1px 1px 0;height:28px}
.headerMenuBg{background:transparent url(../images/jz1_lmyBg.gif)}
.headerMenuList{font-size:14px;font-weight:bold;margin:0 auto;color:#FFFFFF;text-align:center}
.headerMenuList ul{padding-left:24px}
.headerMenuLi{cursor:pointer;float:left;height:20px;padding-top:8px;width:90px;cursor:auto;white-space:nowrap}
.headerMenuLi a{color:#ffffff}
.headerMenuLiCheck{border-color:#FFFFFF;color:#27598E;border-style:solid;border-width:1px 1px 0;float:left;line-height:24px;margin-top:3px;width:90px;cursor:auto;white-space:nowrap}
.headerMenuLiCheck a{color:#27598E}
.headerMenuBottom{border-bottom:3px solid;border-bottom-color:#FFFFFF}
.headTopic{background:transparent url(../images/jz1_bigPic.jpg) repeat scroll 0 0;background-repeat:repeat-x;height:200px;width:100%;height:200px}
.description{padding-left:40px;padding-top:35px;text-align:left}
.topDesc{font-family:黑体;font-size:30px;font-style:italic;font-weight:bold}
#content{width:300%;overflow:auto;zoom:1}
.bottomDesc{font-family:Verdana;font-size:26px;font-style:italic;font-weight:bold}
.moveList{float:left;margin-top:7px}
.moveList.sort1{margin-left:0}
.moveList.sort2,.moveList.sort3{margin-left:7px}
.content1{width:200px}
.content2{width:745px}
.content3{width:200px}
.filter{}
.bodyCont{background:#FFFFFF none repeat scroll 0 0;border:1px none;margin-bottom:7px;border-color:#648EB6;border-style:solid}
.bodyContTitle{background:transparent url(../images/jz1_titleBg.gif) repeat-x scroll 0
		0}
.bodyContTitle{font-size:14px;font-weight:bold;height:28px;line-height:28px;padding:0 15px;text-align:left;position:relative}
.bodyContTitle .titleLinkColor{color:#FFFFFF;cursor:pointer}
.bodyContTitle .titleName{cursor:default}
.hunkList .user_defined{border:none;margin-bottom:0}
.hunkList .user_defined .bodyContTitle{display:none}
.user_defined .bodyContContent{width:100%;overflow:hidden;padding:0px}
.b{font-weight:bold}
.fl{float:left}
.bodyContContent{padding-bottom:7px;padding-top:7px;text-align:left}
.bodyContContentBB{border-bottom:1px dotted #BFBFBF}
.bodyContContentLi{height:22px;line-height:22px;text-align:left}
.treeDiv{padding-left:8px}
.topicLink{color:#27598E}
.topicLink:hover{color:#FF7300}
.contactLi{padding:3px 5px 3px 10px}
.bodyRight{float:left;margin-left:10px;margin-top:7px;width:742px}
.fr{float:right}
.fs12px{font-size:12px}
.nb{font-weight:normal}
.rel{position:relative}
.rightConteWidth{margin:0 auto;text-align:center;width:100%;overflow-x:hidden}
.bodyContContentRightCont{}
.tal{text-align:left}
.mainTextColor{color:#000000}
.bodyContContentRightCont{}
.glitzBody ul{overflow:hidden;zoom:1}
.glitzBody li{float:left;width:180px}
.glitzPic,.glitzPic a{width:160px}
.glitzPic{border:1px solid #CCCCCC;text-align:center;margin:auto;height:160px;overflow:hidden}
.glitzPic a{display:table-cell;text-align:center;vertical-align:middle}
*+html .glitzPic a{display:block;font-size:140px}
* html .glitzPic a{display:block;font-size:140px}
.glitzPic a img{vertical-align:middle}
.glitzBorder{border-width:1px;border-style:solid}
.glitzColor{border-color:#cccccc}
.glitzBody .txt{height:42px;line-height:1.2;overflow:hidden;padding-top:5px}
.contacts{padding:20px;text-align:left;overflow:auto;zoom:1}
.contacts ul li{line-height:150%}
.contactOne{float:left;width:50%;padding:5px 0;border-bottom:1px dashed #ccc}
.wangpuBodyContTitle{border-bottom:1px dashed #CCCCCC;border-color:#CCCCCC;border-width:1px;font-size:16px;font-weight:bold;line-height:44px;padding:0 15px;text-align:center;width:92%}
.newsInfo{position:relative}
#detailCtn{float:left;overflow:hidden;padding-left:16px;text-align:left;width:350px}
.bodyCont #detailCtn{width:385px}
#detailCtn .row7{border-top:0 none;padding:0 0 5px 2px}
#detailCtn .row4{padding:6px 0}
#detailCtn .row4 p{clear:both;color:#646464;line-height:22px;margin:0;padding:0}
span.wordwarp{overflow:hidden;word-wrap:break-word}
#detailCtn .row4 .right{float:right;margin-top:-26px}
.nopaybt{border-top:1px dashed #C3BBAC;padding-top:10px}
.nopayww{height:40px;line-height:40px;padding-left:22px;text-align:left}
a.nopaycontact{background-image:url(../images/detail-but.gif);background-position:0 -310px;background-repeat:no-repeat;color:#FFFFFF !important;display:block;font-weight:bold;height:27px;line-height:27px;padding-left:25px;text-decoration:none;width:60px}
a.nopaycontact:hover{background-position:-100px -310px}
.bodyContContentImg-150 .picBox{font-size:134px !important;height:150px !important;overflow:hidden;position:relative;width:150px !important}
.tip .error{background:transparent url(../images/1_1245982792953.gif) no-repeat
		scroll 0 0;color:#C53032;padding-left:20px}
.leaveWord{min-height:100px}
.leaveWord .sendtd{text-align:right;padding-right:8px;width:20%}
.leaveWord .sendcont{text-align:left;padding:3px 0}
.leaveWord .sendTitle,.leaveWord .sendContent{width:60%}
.leaveWord .tip .error{background-image:none;padding-left:5px}
.leaveWord #codeCell .tip{margin-left:70px}
.sendSub{margin-top:12px}
.sendBtn{font-weight:''}
.validateForm input.error,.validateForm textarea.error{border:1px dotted red !important}
label.error{color:red;font-style:italic}
.msgSendSucc{background:transparent url(../images/1000748.gif) no-repeat scroll 0 0
		!important;font-family:黑体;font-size:32px;font-weight:bold;height:100px;margin:30px auto auto;padding-left:60px;padding-top:8px;text-align:left;width:360px;line-height:20px}
#log{float:left;padding-left:20px}
.topbaner{background:#FFFFFF none repeat scroll 0 0;width:952px}
.topbanerCont{height:100%;overflow:hidden}
.enname{color:#000000;font-family:Verdana;font-size:20px;font-style:italic;font-weight:bold}
.ygtvlabel,.ygtvlabel:link,.ygtvlabel:visited,.ygtvlabel:hover{background-color:transparent !important}
.newsContent{text-align:left;line-height: 2;}
.mapbarBox{padding-left:7px}
#collect-btn{font-size:12px;width:76px;height:23px;border:none;background:url(../images/btn_collect.png) no-repeat scroll 0 0
		transparent}
.key_tip{width:100%;overflow:hidden;background:url(../images/tip_01.png) repeat scroll 0px 0px transparent}
.key_tip li{line-height:32px;height:32px;float:left;overflow:hidden;padding:5px auto;background:url(../images/tip_01.png) no-repeat scroll -99999px -99999px
		transparent}
.key_tip .key_tip_l{width:5px;background-position:0px -40px}
.key_tip .key_tip_m{}
.key_tip .key_tip_m span{margin-left:10px}
.key_tip .key_tip_r{cursor:pointer;float:right;width:50px;background-position:-76px -80px}
.oh{overflow:hidden}
.sub_navigate{margin:5px 0 0 5px;text-align:center;width:715px;overflow:hidden}
.sub_navigate li{float:left}
.sub_navigate a:hover{color:orange}
.left{float:left}
.right{float:right}
.topSearch{width:74%;margin-left:5%}
.topSearch li{float:left;margin-right:3px}
#tbForm1{}
.btn_inquiry{cursor:pointer;border:none;background:url(../images/btn_collect.png) no-repeat scroll transparent;width:76px;height:23px}
.tr{text-align:right}
.clean-history{position:absolute;right:10px;font-size:12px}
h2.bigsize{font-family:'黑体';font-size:20px;font-weight:100;line-height:24px;margin:7px 0 4px}
.ul_ellipsis li{display:block}
.ul_height li{height:140px;overflow:hidden}
li .img_thumb{float:left;margin:3px 10px 0 0}
.category_news_li{list-style:none;list-style-position:outside}
.img_box{overflow:hidden}
.img_box .showNewsPic .img{margin-right:5px}
.img_box h2,.img_box p{margin:0}
.img_box h2 a{display:block;height:20px;overflow:hidden}
li .txt_info{color:#666666;float:right;font-size:12px}
.lnk_title_1{display:block !important;float:left;overflow:hidden;text-align:left;text-overflow:ellipsis;white-space:nowrap;width:auto !important}
.txt_info_3{clear:both !important;color:#666666;font-size:12px;margin:0;overflow:hidden;padding:0}
.height_88{text-align:left;overflow:hidden}
.txt_info_3 .more{color:#666666;float:none;font-size:12px;text-align:right}
.checkTypeBySearch{text-align:center}
.analysis_foot{text-align:center;overflow:hidden;clear:both}
.imgNews li{clear:both;padding:5px}
.newsFont{position:absolute;right:0;bottom:3px;_bottom:50px;font-size:12px;line-height:1.5em}
#fontSmall{color:#666;font-weight:bold;font-size:10px;padding:0 3px;cursor:pointer}
#fontBig{color:#0B3B8C;font-weight:bold;padding:0 3px;cursor:pointer}
.dolog .area .list{margin:16px 0}
.dolog .area .list .item{height:34px}
.dolog .area .list .item .nameTxt{float:left;height:22px;line-height:22px;padding-right:12px;text-align:right;width:110px}
.dolog #login .area .list .item .nameTxt{width:60px}
.dolog .area .list .item .con{display:block;float:left;padding-right:12px;min-width:226px}
.dolog #login .area .list .item .con{min-width:50px}
.dolog .area .list .item .input{border:1px solid #7F9DB9;font-size:12px;height:16px;line-height:16px;padding:2px 0 2px 4px;width:220px}
.dolog .area .list .item .tip{float:left}
.dolog .area .list .item .tip div{line-height:16px;padding-left:20px;text-align:left}
.dolog .area .list .item .tip div.error{background:transparent url(../images/1_1245982792953.gif) no-repeat
		scroll 0 0;color:#C53032}
.dolog .area .list .item .tip div.correct{background:transparent url(../images/1000716.gif) no-repeat scroll 0 0;color:green}
#floatwindow{position:fixed;right:0;top:200px;width:222px;z-index:90}
* html #floatwindow{position:absolute;top:expression(eval(200 +         document.documentElement.scrollTop) )}
#ecustomerboxFF{clear:both;display:block;float:right;width:23px;max-width:222px;min-width:23px;z-index:90;text-align:left}
* html #ecustomerboxFF{width:22px}
#ecustomerboxFF .relativediv{position:relative}
#ecustomerboxFF .ecustomerbuttonminFF{background:transparent url(../images/ecsbg1.png) no-repeat scroll
		-168px -215px;cursor:pointer;height:90px;left:0;position:absolute;top:0;width:24px;z-index:90}
#ecustomerboxFF .ecustomerbdFF{border:1px solid #046B9A;left:23px;position:absolute;width:199px;z-index:80}
#ecustomerboxFF .ECScontent{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:transparent url(../images/qyzxbg2.png) repeat-y scroll 0 0}
.ECScontent .EMiddle{border-left:1px solid #859DBC;border-right:1px solid #859DBC;padding-bottom:5px;padding-top:7px !important;width:199px;border-left:0 none;border-right:0 none}
.ECScontent .dis{color:#A3ADB6;font-size:12px;margin-left:9px;margin-top:5px;display:none}
.ECScontent textarea{border:1px solid #80AFDD;color:#A3ADB6;font-size:12px;height:100px;margin-left:10px;overflow:hidden;width:173px}
.ECScontent input{border:1px solid #80AFDD}
.ECScontent .name{color:#205394;font-size:12px;margin-left:10px;margin-top:7px}
.orange{color:#FF7300}
.ECScontent .inputName{width:132px}
.ECScontent .inputPhone{width:107px}
.ECScontent .inputConfir{margin-right:5px;width:35px}
.ECScontent .submit{margin-right:14px;margin-top:7px;padding-bottom:8px;padding-top:6px;text-align:center}
.ECScontent .submit a:link,.ECScontent .submit a:visited{text-decoration:none}
.none{display:none}
#msgBtn{background:transparent url(../images/conbutton1.gif) no-repeat scroll 0
		0;color:#FFFFFF;font-weight:bold;padding:7px 20px 7px 22px}
#leave li.tip{display:inline}
#leave div.error{background:url("../images/1_1245982792953.gif") no-repeat scroll 0 0
		transparent;color:#C53032;margin-left:40px;padding-left:20px;height:16px;line-height:19px}
.outBg{padding-top:33px}
.topbar-v2,.topbar-v2 .topbar-container,.topbar-v2 .account-not,.topbar-v2 .account-signed,.topbar-v2 .bg-arrow,.topbar-v2 .contact-us-free,.topbar-v2 .fill-form-free,.topbar-v2 .join-promotions,.topbar-v2 .title-sitemap,.topbar-v2 .top-alitalk a,.topbar-v2 .list-sitemap-all a{background:url("../images/6413_1651874970.png") no-repeat scroll -100px
		0 transparent}
.topbar-v2,.topbar-v2 .topbar-container{background:url(../images/topbg.gif)}
.topbar-v2{background-position:0 -12px;background-repeat:repeat-x;color:#666666;height:auto;position:absolute;top:0;left:0;width:100%;_width:expression(documentElement.clientWidth);text-align:left;font:12px/1.5 Tahoma,Arial,"宋体",sans-serif;text-align:left}
.topbar-v2 .topbar-container{background-position:0 -12px;background-repeat:repeat-x;height:27px;margin:0 auto;width:952px;overflow:hidden}
.topbar-v2 .account-sign-status{float:left;height:27px;overflow:hidden}
.topbar-v2 .account-sign-status li,.topbar-v2 .topnav li{border-right:1px solid #EEEEEE;float:left;height:27px;line-height:27px;padding:0 8px}
.topbar-v2 .account-sign-status .account-welcome{min-width:134px;padding-left:0;word-wrap:normal}
.topbar-v2 a:link,.topbar-v2 a:visited{color:#666666}
.topbar-v2 a:hover,.topbar-v2 a:active{color:#FF7300 !important;text-decoration:none}
.topbar-v2 .account-sign-status a{font-weight:700}
.topbar-v2 .account-sign-status .account-welcome a{font-weight:400}
.topbar-v2 .account-signed{background-position:-32px -178px;padding-left:15px}
.topbar-v2 .account-not{background-position:-32px -148px;padding-left:15px}
.topbar-v2 .topnav{float:right}
.panel_flex{height:20px;position:absolute;right:5px;text-align:right;top:8px;width:20px;z-index:3;margin:0}
.icon_toolbar_up,.icon_toolbar_down{background-image:url("../images/bg_toolbar_v3.gif");background-repeat:no-repeat;display:inline-block;height:13px;vertical-align:middle;width:11px;cursor:pointer;display:inline-block}
.icon_toolbar_down{background-position:-16px 0}
table.ygtvtable{margin-bottom:0;border:none;border-collapse:collapse}
td.ygtvcell{border:none;padding:0}
a.ygtvspacer{text-decoration:none;outline-style:none;display:block}
.ygtvtn{width:18px;height:22px;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -5600px no-repeat;cursor:pointer}
.ygtvtm{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -4000px no-repeat}
.ygtvtmh,.ygtvtmhh{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -4800px no-repeat}
.ygtvtp{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -6400px no-repeat}
.ygtvtph,.ygtvtphh{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -7200px no-repeat}
.ygtvln{width:18px;height:22px;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -1600px no-repeat;cursor:pointer}
.ygtvlm{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 0 no-repeat}
.ygtvlmh,.ygtvlmhh{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -800px no-repeat}
.ygtvlp{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -2400px no-repeat}
.ygtvlph,.ygtvlphh{width:18px;height:22px;cursor:pointer;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -3200px no-repeat;cursor:pointer}
.ygtvloading{width:18px;height:22px;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-loading.gif) 0 0 no-repeat}
.ygtvdepthcell{width:18px;height:22px;background:url(/js/yui/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8000px no-repeat}
.ygtvblankdepthcell{width:18px;height:22px}
* html .ygtvchildren{height:2%}
.ygtvitem{z-index:9999;}
.ygtvlabel,.ygtvlabel:link,.ygtvlabel:visited,.ygtvlabel:hover{margin-left:2px;text-decoration:none;background-color:white;cursor:pointer}
.ygtvcontent{cursor:default}
.ygtvspacer{height:22px;width:18px}
.ygtvfocus{background-color:#c0e0e0;border:none}
.ygtvfocus .ygtvlabel,.ygtvfocus .ygtvlabel:link,.ygtvfocus .ygtvlabel:visited,.ygtvfocus .ygtvlabel:hover{background-color:#c0e0e0}
.ygtvfocus a{outline-style:none}
.ygtvok{width:18px;height:22px;background:url(treeview-sprite.gif) 0 -8800px no-repeat}
.ygtvok:hover{background:url(treeview-sprite.gif) 0 -8844px no-repeat}
.ygtvcancel{width:18px;height:22px;background:url(treeview-sprite.gif) 0 -8822px no-repeat}
.ygtvcancel:hover{background:url(treeview-sprite.gif) 0 -8866px no-repeat}
.ygtv-label-editor{background-color:#f2f2f2;border:1px solid silver;position:absolute;display:none;overflow:hidden;margin:auto;z-index:9000}
.ygtv-edit-TextNode{width:190px}
.ygtv-edit-TextNode .ygtvcancel,.ygtv-edit-TextNode .ygtvok{border:none}
.ygtv-edit-TextNode .ygtv-button-container{float:right}
.ygtv-edit-TextNode .ygtv-input input{width:140px}
.ygtv-edit-DateNode .ygtvcancel{border:none}
.ygtv-edit-DateNode .ygtvok{display:none}
.ygtv-edit-DateNode .ygtv-button-container{text-align:right;margin:auto}
.ygtv-highlight .ygtv-highlight1,.ygtv-highlight .ygtv-highlight1 .ygtvlabel{background-color:blue;color:white}
.ygtv-highlight .ygtv-highlight2,.ygtv-highlight .ygtv-highlight2 .ygtvlabel{background-color:silver}
.ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel,.ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel,.ygtv-highlight .ygtv-highlight2 .ygtvfocus .ygtvlabel{background-color:#c0e0e0}
.ygtv-highlight .ygtvcontent{padding-right:1em}
.ygtv-checkbox .ygtv-highlight0 .ygtvcontent{padding-left:1em;background:url(check0.gif) no-repeat}
.ygtv-checkbox .ygtv-highlight0 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight1 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight2 .ygtvfocus.ygtvcontent{background-color:#c0e0e0}
.ygtv-checkbox .ygtv-highlight1 .ygtvcontent{padding-left:1em;background:url(check1.gif) no-repeat}
.ygtv-checkbox .ygtv-highlight2 .ygtvcontent{padding-left:1em;background:url(check2.gif) no-repeat}
.newsContentInfo{margin:8px auto;min-height:320px;width:700px}
.shareInfo{margin:8px auto;width:700px;text-align:left}
.news_t{text-align:right;margin-bottom:5px}
.news_hits{font-size:10px;margin-left:10px}
.news_keys_li{float:left;padding:2px;cursor:pointer}
.news_keys_ul{display:inline}
.news_key_s{float:left}
.n_k{height:20px}
.summary{margin:8px auto;min-height:320px;width:710px;padding-bottom:20px;overflow:hidden}
.s600,.s600 a{*display:inline;height:600px;width:600px}
.pic a{display:table-cell;text-align:center;vertical-align:middle;*display:inline}
*+html .pic a{line-height:0;display:block;font-size:540px}
* html .pic a{line-height:0;display:block;font-size:540px}
*+html .pic.s160 a{font-size:144px}
* html .pic.s160 a{font-size:144px}
*+html .pic.s40 a{font-size:36px}
* html .pic.s40 a{font-size:36px}
.none{display:none}
.hidden{visibility:hidden}
.gallery{float:left}
.gallery-r .booth,.gallery-l .booth{float:left}
.gallery .thumb{margin:10px 5px;overflow:hidden;zoom:1}
.gallery-r .thumb{float:left;margin:40px 0 0 40px}
.gallery-l .thumb{float:left;margin:40px 20px 0 20px;_margin-left:10px}
.gallery .thumb li{float:left;width:162px;height:160px;_height:162px;margin:0 6px 0 0;padding:7px 4px 4px 2px}
.gallery-r .thumb li{float:none;width:40px;height:40px;margin:2px 0;padding:0 2px 2px 4px;_padding:0 2px 0 7px}
.gallery-l .thumb li{float:none;width:40px;height:40px;margin:2px 0;overflow:hidden;padding:0 10px 2px 2px}
.gallery .thumb-up li{padding:2px 4px 9px 2px}
.s160,.s160 a{height:160px;width:160px}
.s40,.s40 a{height:40px;width:40px}
.gallery .thumb li.selected{background:url(../../images/vipsite/product/xzk160.png) no-repeat}
.gallery .thumb-up li.selected{background:url(../../images/vipsite/product/xzk160-d.png) no-repeat}
.gallery-r .thumb li.selected{background:url(../../images/vipsite/product/xzk-l.png) no-repeat}
.gallery-l .thumb li.selected{background:url(../../images/vipsite/product/xzk-r.png) no-repeat}
fieldset,img{border:0 none}
.s160 img{max-height:160px;max-width:160px}
.s40 img{max-height:40px;max-width:40px}
.pic a img{vertical-align:middle}
.productType,.productDes,.productDetailTitle{padding:5px 10px;text-align:left;overflow-x:hidden;_width:96%}
.productDetailTitle{font-size:20px}
.product_bottom{padding:10px 0;text-align:center}
.product_bottomSpan{font-size:14px}
.productDetailLeft{float:left;margin-top:50px}
.productDetailRight{float:right;margin-top:50px}
.productDetail1{text-align:-webkit-center;text-align:-moz-center;_text-align:center}
.productDetail1>div{margin:0 auto\9}
.tab{border-bottom:1px solid #CCCCCC;font-family:"宋体";height:20px;margin-bottom:5px;padding-bottom:5px;padding-top:10px;text-align:center;width:715px;font-size:16px}
.cpzs{overflow:hidden;padding:2px;width:715px}
.innerbox{height:20px;width:97%;margin:0 auto;overflow:hidden}
.con_cs{padding:30px 100px}
.cpzs .cpzs_left{float:left;height:505px;width:510px}
.cpzs .cpzs_left .datu{}
.cpzs .cpzs_right{float:left;height:505px;width:204px}
.cpzs .cpzs_right .canshu{height:130px;margin-bottom:10px;margin-top:10px;width:200px}
.divImg{width:80px;height:80px;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden}
*+html .divImg{display:block;font-size:72px}
* html .divImg{display:block;font-size:72px}
.divImg img{vertical-align:middle}
.cpzs .cpzs_right .canshu .xinhao{font-size:20px;height:30px;line-height:24px;padding-left:10px;padding-top:35px;text-align:left;width:170px}
.cpzs .cpzs_right .canshu .jiben{font-family:"宋体";font-size:12px;height:40px;line-height:14px;padding-left:10px;padding-top:20px;width:170px}
.cpzs .cpzs_right .jiaodu{height:290px;width:185px;margin:2px;padding-top:10px}
.jiaodu li{float:left;margin:2px}
.cpzs .cpzs_right .jiaodu img{cursor:pointer;margin:1px}
.xxcs{margin-top:10px;padding:5px;width:715px;text-align:left}
.xxcs .xxcs_hard{background-repeat:repeat-x;width:715px;height:24px}
.xxcs #open{background:url("../images/product/tabbg.jpg") repeat scroll 0 0
		transparent;font-weight:bold;font-size:13px;margin-right:1px;border-width:1px;border-style:solid;border-bottom:none}
.xxcs #colse{background:url("../images/product/tabbg2.jpg") repeat scroll 0 0
		transparent;margin-right:1px;border-width:1px;border-style:solid}
.xxcs .xxcs_hard .xntd{background:url("../images/product/tabbg.jpg") repeat scroll 0 0
		transparent;line-height:23px;float:left;padding:0 14px;cursor:pointer;margin-right:1px;border-width:1px;border-style:solid}
.datu a{display:table-cell;height:500px;text-align:center;vertical-align:middle;width:500px}
.datu a{display:table-cell;height:500px;text-align:center;vertical-align:middle;width:500px}
*+html .datu a{display:block;font-size:450px}
* html .datu a{display:block;font-size:450px}
.datu a img{vertical-align:middle}
.con_xn{padding:20px}
.xxcs .con{border-width:1px;border-style:solid}
.xxcs .con_xn.con .laomu{height:100px;margin:20px 24px 30px;width:600px}
.xxcs .con_xn.con .laomu .laozi_wen{float:left;height:100px;padding-left:10px;width:429px}
.laomu .laozi_wen .wen_tite{font-family:"宋体";font-size:18px;font-weight:bold;padding-top:4px}
.xxcs .con{border-width:1px;border-style:solid}
.con_cs.con table{width:100%;text-align:left;border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;_border:none}
.con_cs.con table tr{margin:0}
table tr .xinhao{background-color:#CCCCCC;font-size:14px;font-weight:bold;text-align:center}
td{margin:0}
.blog_footer .mod_links,.blog_footer .mod_tags{margin-bottom:8px}
.mod_links a{display:inline-block;margin:0 3px}
#category_news{margin-bottom:10px;width:100%}
#category_news .topbanerCont ul{float:left;width:32%;border:1px solid #dfdfdf}
.bottom_category_l li,.bottom_category_r li{height:28px;line-height:28px;overflow:hidden;width:97%;margin:0 auto;padding:0}
.bottom_category_l li a,.bottom_category_r li a{text-decoration:underline}
.bottom_category_l{}
.bottom_category_r{margin-left:1%}
.bottom_cate_t{height:30px;width:100%}
.bottom_category_l li a:link{text-decoration:underline}
.bottom_category_r li a:link{text-decoration:underline}
.hunk_title_li{width:100%}
.hunk_title_span{margin-left:10px}
.bottom_category_r ul .hunk_title_li{width:100%}
.bottom_category_r ul  .hunk_title_li .hunk_title_span{padding:0 15px}
.headerMenuLi .submenu,.headerMenuLiCheck .submenu{position:absolute;width:108px;padding-left:0;margin-top:10px;z-index:1;background-position:-24px 0}
.headerMenuLiCheck .submenu{margin-top:7px;background-position:0 0}
.submenu .submenu{margin-top:0}
.submenu .headerMenuLi{margin-top:0;height:24px}
.gabcont #gallery{overflow:hidden;width:190px;text-align:center}
.gabcont #slides{height:160px;width:640px;overflow:hidden}
.gabcont .slide{float:left;width:180px;text-align:center;position:relative;left:10px;*position:static;_position:static}
.gabcont #menu{height:40px;padding-left:6px}
.gabcont a img{border:none}
.gabcont li{display:inline-block;height:40px;list-style:none outside none;overflow:hidden;width:45px;margin-bottom:0}
.gabcont li.act a{cursor:default}
.gabcont a{color:#0196E3;display:table-cell;text-align:center;vertical-align:middle;width:160px;height:160px}
*+html .gabcont a{display:block;font-size:152px}
* html .gabcont a{display:block;font-size:152px}
.gabcont li a{display:table-cell;height:40px;width:45px}
*+html .gabcont li a{display:block;font-size:38px}
* html .gabcont li a{display:block;font-size:38px}
.gabcont li.act,.gabcont li.act:hover{background:url("../images/side_ads/active_bg.png") no-repeat scroll 0 0
		transparent}
.gabcont{padding-bottom:0px;padding-top:0px}
.glitzPic1,.glitzPic1 a,.glitzPic1 a img{height:60px}
.glitzBody .glitzItem1{margin:5px 0 0 12px;width:160px}
.glitzPic1{margin:0;float:left}
.glitzPic1 .txt{float:left;padding-left:10px}
.subtxt{text-align:left;padding-left:10px}
.subtxt a.underLsine{text-decoration:underline}
.subtxt a.underLine:hover{text-decoration:underline;color:#0066CC}
.pic{float:left}
.pic a img{border:none}
#cert .pic a{font-size:140px}
.showCertPic img{vertical-align:top}
.desc{float:left;overflow:hidden;width:120px}
.desc p{padding-left:10px;margin:5px 0}
.desc p a{text-decoration:underline;color:#666}
#history_pro li{margin:5px 0 0 12px}
.business_card{width:27px;height:14px;border:none;cursor:pointer}
.hide{display:none}
.cover{display:none}
.nocover{display:block}
.show{display:block}
.left{float:left}
.right{float:right}
.gaim_ul{padding-left:15px;overflow:hidden;zoom:1}
.gaim_ul li{width:150px;float:left}
.gaimName{width:40px;float:left;line-height:25px}
.gaimCode{float:left;padding-left:8px}
.related_news{background:none no-repeat scroll 0 6px
		transparent;margin-left:5px}
.related_news dl{padding:0;line-height:24px;border:none}
.related_news dl dt{width:100%}
.related_news dl dt a{text-decoration:underline}
.jcarousel-container-horizontal{padding:2px 32px;overflow:hidden}
.jcarousel-item{width:160px}
.jcarousel-item-horizontal{margin-left:0;margin-right:3px}
.jcarousel-clip-horizontal{width:100%}
.jcarousel-list-horizontal{border:none}
.ads_name{width:160px;display:block;overflow:hidden}
.jcarousel-prev-horizontal{background:url("/main_ads/prev-horizontal.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:32px;left:-3px;position:absolute;top:65px;width:35px}
.jcarousel-prev-disabled-horizontal:active{background-position:-96px 0;cursor:default}
.jcarousel-prev-horizontal{background:url("../images/main_ads/prev-horizontal.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:32px;left:-3px;position:absolute;top:65px;width:35px}
.jcarousel-next-horizontal{background:url("../images/main_ads/next-horizontal.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:32px;position:absolute;right:-4px;top:65px;width:35px}
.jcarousel-next-horizontal:hover{background-position:-32px 0}
.jcarousel-prev-horizontal:hover{background-position:-32px 0}
#contact_column .text{border:1px solid #dfdfdf}
#message{margin-bottom:7px}
.tip .error{background:transparent url(../../images/vipsite/1_1245982792953.gif)
		no-repeat scroll 0 0;color:#C53032;padding-left:20px}
.leaveWord{min-height:100px}
.leaveWord .sendtd{text-align:right;padding-right:8px;width:20%}
.leaveWord .sendcont{text-align:left;padding:3px 0}
.leaveWord .sendTitle,.leaveWord .sendContent{width:60%}
.leaveWord .tip .error{background-image:none;padding-left:5px}
.leaveWord #codeCell .tip{margin-left:70px}
.sendSub{margin-top:12px}
.sendBtn{font-weight:''}
.msgSendSucc{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:transparent url(../../images/vipsite/1000748.gif) no-repeat
		scroll 0 0 !important;font-family:黑体;font-size:32px;font-weight:bold;height:100px;margin:30px auto auto;padding-left:60px;padding-top:8px;text-align:left;width:360px;line-height:20px}
.grayName{color:#ccc}
.sitenav-mobile{background:url("../images/mobile.png") no-repeat scroll 0 3px transparent;padding:2px 0 0 18px}
.editBgColor{background:#9A9A9A;-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5) inset;-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5) inset;box-shadow:0px 0px 10px rgba(0,0,0,0.5) inset}
.aui_outer{text-align:left}
table.aui_border,table.aui_dialog{border:0;margin:0;border-collapse:collapse;width:auto}
.aui_nw,.aui_n,.aui_ne,.aui_w,.aui_c,.aui_e,.aui_sw,.aui_s,.aui_se,.aui_header,.aui_tdIcon,.aui_main,.aui_footer{padding:0}
.aui_header,.aui_buttons button{font:12px/1.11 'Microsoft Yahei',Tahoma,Arial,Helvetica,STHeiti;_font-family:Tahoma,Arial,Helvetica,STHeiti;-o-font-family:Tahoma,Arial}
.aui_title{overflow:hidden;text-overflow:ellipsis}
.aui_state_noTitle .aui_title{display:none}
.aui_close{display:block;position:absolute;text-decoration:none;outline:none;_cursor:pointer}
.aui_close:hover{text-decoration:none}
.aui_main{text-align:center;min-width:9em;min-width:0\9}
.aui_content{display:inline-block;*zoom:1;*display:inline;text-align:left;border:none 0}
.aui_content.aui_state_full{display:block;width:100%;margin:0;padding:0!important;height:100%}
.aui_loading{width:96px;height:32px;text-align:left;text-indent:-999em;overflow:hidden;background:url(icons/loading.gif) no-repeat center center}
.aui_icon{vertical-align:middle}
.aui_icon div{width:48px;height:48px;margin:10px 0 10px 10px;background-position:center center;background-repeat:no-repeat}
.aui_buttons{text-align:right;white-space:nowrap;position:absolute;bottom:0;width:100%}
.aui_buttons .button{margin-left:15px;padding:6px 8px;cursor:pointer;display:inline-block;text-align:center;line-height:1;*padding:4px 10px;*height:2em;letter-spacing:2px;font-family:Tahoma,Arial/9!important;width:auto;overflow:visible;*width:1;color:#333;border:solid 1px #999;border-radius:5px;background:#DDD;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#DDDDDD');background:linear-gradient(top,#FFF,#DDD);background:-moz-linear-gradient(top,#FFF,#DDD);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFF),to(#DDD));text-shadow:0px 1px 1px rgba(255,255,255,1);box-shadow:0 1px 0 rgba(255,255,255,.7),0 -1px 0 rgba(0,0,0,.09);-moz-transition:-moz-box-shadow linear .2s;-webkit-transition:-webkit-box-shadow linear .2s;transition:box-shadow linear .2s}
.aui_buttons .button::-moz-focus-inner{border:0;padding:0;margin:0}
.aui_buttons .button:focus{outline:none 0;border-color:#426DC9;box-shadow:0 0 8px rgba(66,109,201,.9)}
.aui_buttons .button:hover{color:#000;border-color:#666}
.aui_buttons .button:active{border-color:#666;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD',endColorstr='#FFFFFF');background:linear-gradient(top,#DDD,#FFF);background:-moz-linear-gradient(top,#DDD,#FFF);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#DDD),to(#FFF));box-shadow:inset 0 1px 5px rgba(66,109,201,.9),inset 0 1px 1em rgba(0,0,0,.3)}
.aui_buttons .button[disabled]{cursor:default;color:#666;background:#DDD;border:solid 1px #999;filter:alpha(opacity=50);opacity:.5;box-shadow:none}
.aui_buttons .aui_state_highlight{color:#FFF;border:solid 1px #1c6a9e;background:#2288cc;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee',endColorstr='#2288cc');background:linear-gradient(top,#33bbee,#2288cc);background:-moz-linear-gradient(top,#33bbee,#2288cc);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#33bbee),to(#2288cc));text-shadow:-1px -1px 1px #1c6a9e}
.aui_buttons .aui_state_highlight:hover{color:#FFF;border-color:#0F3A56}
.aui_buttons .aui_state_highlight:active{border-color:#1c6a9e;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee',endColorstr='#2288cc');background:linear-gradient(top,#33bbee,#2288cc);background:-moz-linear-gradient(top,#33bbee,#2288cc);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#33bbee),to(#2288cc))}
.aui_inner{background:#FFF}
.aui_outer,.aui_inner{border:1px solid rgba(0,0,0,.7);border:1px solid #333\9}
.aui_border{box-shadow:inset 0 0 1px rgba(255,255,255,.9)}
.aui_nw,.aui_ne,.aui_sw,.aui_se{width:8px;height:8px}
.aui_nw,.aui_n,.aui_ne,.aui_w,.aui_e,.aui_sw,.aui_s,.aui_se{background:rgba(0,0,0,.4);background:#000\9!important;filter:alpha(opacity=40)}
.aui_state_lock .aui_nw,.aui_state_lock .aui_n,.aui_state_lock .aui_ne,.aui_state_lock .aui_w,.aui_state_lock .aui_e,.aui_state_lock .aui_sw,.aui_state_lock .aui_s,.aui_state_lock .aui_se{background:rgba(0,0,0,.5);background:#000\9!important;filter:alpha(opacity=50)}
.aui_state_focus .aui_dialog{box-shadow:0 0 3px rgba(0,0,0,0.4)}
.aui_state_focus .aui_outer{box-shadow:0 2px 3px rgba(0,0,0,0.1)}
.aui_state_lock .aui_border{box-shadow:0 3px 26px rgba(0,0,0,.9)}
.aui_state_drag .aui_outer,.aui_outer:active{box-shadow:none}
.aui_titleBar{position:relative;height:100%}
.aui_title{height:28px;line-height:27px;padding:0 28px 0 10px;text-shadow:0 1px 0 rgba(255,255,255,.7);background-color:#edf5f8;font-weight:bold;color:#95a7ae;font-family:Tahoma,Arial/9!important;background-color:#bdc6cd;background:linear-gradient(top,#edf5f8,#bdc6cd);background:-moz-linear-gradient(top,#edf5f8,#bdc6cd);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#edf5f8),to(#bdc6cd));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8',endColorstr='#bdc6cd');border-top:1px solid #edf5f8;border-bottom:1px solid #b6bec5}
.aui_state_focus .aui_title{color:#4c5a5f}
.aui_state_drag .aui_title{background:linear-gradient(top,#bdc6cd,#edf5f8);background:-moz-linear-gradient(top,#bdc6cd,#edf5f8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#bdc6cd),to(#edf5f8));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd',endColorstr='#edf5f8');box-shadow:none}
.aui_state_drag .aui_titleBar{box-shadow:none}
.aui_close{padding:0;top:4px;right:4px;width:21px;height:21px;line-height:21px;font-size:18px;color:#68767b;text-align:center;font-family:Helvetica,STHeiti;_font-family:Tahoma,'\u9ed1\u4f53','Book Antiqua',Palatino;text-shadow:0 1px 0 rgba(255,255,255,.9)}
.aui_close:hover{background:#C72015;color:#FFF}
.aui_close:active{box-shadow:none}
.aui_content{color:#666;position:relative}
.aui_state_focus .aui_content{color:#000}
.aui_buttons{background-color:#F6F6F6;border-top:solid 1px #DADEE5}
.aui_state_noTitle .aui_nw,.aui_state_noTitle .aui_ne,.aui_state_noTitle .aui_sw,.aui_state_noTitle .aui_se{width:3px;height:3px}
.aui_state_noTitle .aui_inner{border:1px solid #666;background:#FFF}
.aui_state_noTitle .aui_outer{border:none 0;box-shadow:none}
.aui_state_noTitle .aui_nw,.aui_state_noTitle .aui_n,.aui_state_noTitle .aui_ne,.aui_state_noTitle .aui_w,.aui_state_noTitle .aui_e,.aui_state_noTitle .aui_sw,.aui_state_noTitle .aui_s,.aui_state_noTitle .aui_se{background:rgba(0,0,0,.05);background:#000\9!important;filter:alpha(opacity=5)!important}
.aui_state_noTitle .aui_titleBar{bottom:0;_bottom:0;_margin-top:0}
.aui_state_noTitle .aui_close{top:0;right:0;width:18px;height:18px;line-height:18px;text-align:center;text-indent:0;font-size:18px;text-decoration:none;color:#214FA3;background:none;filter:!important}
.aui_state_noTitle .aui_close:hover,.aui_state_noTitle .aui_close:active{text-decoration:none;color:#900}
.aui_state_noTitle .aui_dialog{box-shadow:none}
.text{background:#fff;border:1px solid #AAAAAA;color:#333333;text-shadow:0 1px 0 #FFFFFF;box-shadow:0 1px 4px rgba(0,0,0,0.2) inset;border-radius:5px;height:20px}
span.ygtvspacer{display:block}
#friend_link .bodyContContent{line-height:1.2em}
.friendLinkLi{padding:2px 10px}
a.topicLink:link{text-decoration:none}
a.topicLink:active{text-decoration:none}
.navigator{}
.navigator a{font-weight:bold;line-height:1.5em;overflow:hidden}
a.subLink:link{color:#333;margin-left:10px}
a.subLink:active{color:#333;margin-left:10px}
.linkName font{display:inline-block;width:70px;text-align:right;white-space:nowrap}
.rightConteWidth{overflow:hidden}
.category_select{display:none}
.img_news_i{width:120px;height:120px}
#share_more ul li{list-style-type:none;width:123px;height:30px;line-height:30px;float:left;border:1px solid #fff;float:left}
#share_more ul li:hover{border:1px solid #dfdfdf;background:#efefef}
#share_more ul li a{text-decoration:none}
.icon_s{cursor:pointer;width:18px;height:18px;margin-right:5px}
.share-sprite,.share-share0,.share-share02,.share-share1,.share-share10,.share-share11,.share-share12,.share-share13,.share-share14,.share-share2,.share-share3,.share-share4,.share-share5,.share-share6,.share-share7,.share-share8,.share-share9,.share-share_more{display:inline-block;background:url('http://www.jihui88.com/js/module/share_word/share-s85f7c6ef5e.png') no-repeat}
.share-share0{background-position:0 -16px;height:26px;width:26px}
.share-share02{background-position:0 0;height:16px;width:16px}
.share-share1{background-position:0 -106px;height:16px;width:16px}
.share-share10{background-position:0 -233px;height:16px;width:16px}
.share-share11{background-position:0 -170px;height:16px;width:16px}
.share-share12{background-position:0 -186px;height:16px;width:16px}
.share-share13{background-position:0 -138px;height:16px;width:16px}
.share-share14{background-position:0 -218px;height:15px;width:15px}
.share-share2{background-position:0 -58px;height:16px;width:16px}
.share-share3{background-position:0 -202px;height:16px;width:16px}
.share-share4{background-position:0 -122px;height:16px;width:16px}
.share-share5{background-position:0 -42px;height:16px;width:16px}
.share-share6{background-position:0 -154px;height:16px;width:16px}
.share-share7{background-position:0 -74px;height:16px;width:16px}
.share-share8{background-position:0 -90px;height:16px;width:16px}
.share-share9{background-position:0 -265px;height:16px;width:15px}
.share-share_more{background-position:0 -249px;height:16px;width:16px}
.news_img_1{width:80px; height:80px;}
.zt_l {
    border-bottom: 1px solid #C5C7A9;
    height: 252px;
    overflow: hidden;
}.l_p {
    display: block;
    float: left;
    padding: 7px 0 0 13px;
}.b1 {
    float: left;
    font-size: 14px;
    padding-left: 10px;
    width: 369px;
}
.ygtvitem{z-index:9999;}

 /*登录注册*/
        .dolog .aui_outer{border:none}
        .dolog .aui_inner {
            border: 1px solid rgba(0,0,0,.5);
        }
        .aui_nw, .aui_ne, .aui_sw, .aui_se {
            width: 5px;
            height: 5px;
        }
        .aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se {
            background: rgba(0,0,0,.3);
            background: #000\9 !important;
            filter: alpha(opacity=30);
        }
        .dolog #login .area .list .item .nameTxt {
            font-family: '微软雅黑';
        }
        .dolog .aui_title{
            height: 30px;
            line-height: 29px;
            background-color: #efefef;
            background: linear-gradient(top,#fff,#efefef);
            background: -moz-linear-gradient(top,#fff,#efefef);
            background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#efefef));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#efefef');
            border-top: 1px solid #e1e1e1;}
        .dolog .aui_close {
            top: 5px;}
        .dolog .area .list {
            margin: 43px 0;
        }
        .dolog .area .list .item {
            height: 45px;
        }
        .dolog .area .list .item .input {
            height: 20px;
            line-height: 20px;
            border: 1px solid #c8c8c8;
            border-radius: 1px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
        }
        .dolog .randCode{    vertical-align: middle;
            padding-left: 20px;}
        .dolog .area .list .item.aui_buttons {
            background-color: #fefefe;
            border-top: solid 1px #dfdfdf;
        }
        .aui_buttons .button {margin-left:0px;border-radius: 1px;    padding: 6px 13px;    border: solid 1px #ccc;
            margin-right: 15px;}
        .aui_buttons .button:hover {
            border-color: #999;
        }
        .aui_buttons .button:focus{outline:none 0;border-color:#999;box-shadow:none}
        .aui_buttons .aui_state_highlight {
            border: solid 1px #f36100;
            background: #ff8509;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8509',endColorstr='#ff7600');
            background: linear-gradient(top,#ff8509,#ff7600);
            background: -moz-linear-gradient(top,#ff8509,#ff7600);
            background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ff8509),to(#ff7600));
            text-shadow: none;
        }
        .aui_buttons .aui_state_highlight:hover{color:#FFF;border-color:#C75B28;background: #ff980b}
        .aui_buttons .aui_state_highlight:active{border-color:#f2780b;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9e29',endColorstr='#ff8e0c');background:linear-gradient(top,#ff9e29,#ff8e0c);background:-moz-linear-gradient(top,#ff9e29,#ff8e0c);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ff9e29),to(#ff8e0c))}
        .marketPrice{display:none;}
/* 员工账号 */
#contact-way{position:fixed;border:1px solid #eee;top:35%;left:0;z-index:99;background:#fff;border-radius:2px;font-family:"微软雅黑";display: none}
#contact-way .contact-way-title{writing-mode:tb-rl;padding:8px;letter-spacing:5px;color:#000;font-weight:400;font-size:14px;cursor:pointer}
#contact-way ul{width:180px;padding:5px;line-height:22px;display:none}
#contact-way li{border-bottom:1px solid #f2f2f2;padding:7px 0}
#contact-way li:last-child{border-bottom:none;padding-bottom:5px}
.contact-way-service{height:25px;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box}
.contact-way-service>div{-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;-o-box-align:center;box-align:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box}
.contact-way-service .name{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.contact-way-service .name span{width:100%;color:#333;margin:0;display:block}
.contact-way-service .arrow{height:20px;color:#aaa;width:16px;position:relative;cursor:pointer;margin-right:5px;transition-duration:.2s}
.contact-way-service .arrow.cur{transform:rotate(180deg);transition-duration:.2s}
.contact-way-logo{padding:0 5px 0 0;width:20px}
.contact-way-contain{padding-left:25px;color:#666;}
.contact-way-contain span{width: 37px;display: inline-block;}
.contact-way-contain a{color:#666;word-wrap: break-word;}
/*标签*/
.propertyByProDetail  .detail-tag {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:5px;
}
.propertyByProDetail .detail-tag li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.propertyByProDetail .detail-tag li a {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    background: #f3f3f3;
    color: #989898;
    font-size: 13px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-decoration: none;
}
.propertyByProDetail  .detail-tag li a:hover {
    color: #fff;
    background: #adadad;
}
.pro_size li.tb-out-of-stock{
   	background-image: url(http://dfwjjingtai.b0.upaiyun.com/upload//j//j2//jihui88//picture//2016//12//22/6acd2398-6722-4c39-851f-67e9642cfe0d.gif);
}
.pro_size li.tb-out-of-stock .pro-size-price-a{
	border: 1px dashed #D6D6D8;
	cursor: not-allowed;
	color:#CDCDCD;
	line-height:34px;
}
/* 登录 */
.oAuth__content{display: none}
.oAuth__1{
	display:block;
padding-left:30px;
}

.auth_more{
	padding: 0px 30px 0 30px;
}
.auth_more_line {
    margin: 0px 20px 0px 25px;
    height: 20px;
    border-top: 1px solid #DBDBDB;
    position: relative;
    z-index: 1;
}
.auth_more_title {
    display: block;
    margin-top: -11px;
    position: absolute;
    left: 50%;
    margin-left: -48px;
    z-index: 10;
    width: 90px;
    text-align: center;
    background: #ffffff;
}
.auth_more a{
	line-height: 32px;display:block;
}
.oAuth{
    display: block;
    width: 32px;
    height: 32px;    padding-left: 5px;
	background-image: url(http://dfwjjingtai.b0.upaiyun.com/upload//j//j2//jihui88//picture//2016//12//27/65e7b417-a35e-4fb7-b36e-41ecf03ec22d.png);
}
.auth_more .oAuth_0{display: none; color: #666;}
.oAuth_1{background-position: -43px 0px;}
.oAuth_1:hover{background-position: -43px 32px;}

.oAuth_2{margin-right: 89px;}
.oAuth_2:hover{background-position: 0 32px;}